body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.image-container {
  position: relative;
}

.character-card img {
  max-width: 100%;
  border-radius: 4px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #007bff;
}

.search {
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search:focus{
  border: 1px solid #f4f4;
}