body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar las tarjetas */
}

.character-card {
  position: relative; /* Hacer que el título se posicione relativo a la tarjeta */
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center; /* Centrar el texto dentro de la tarjeta */
}

.image-container {
  position: relative; /* Para posicionar el título sobre la imagen */
}

.character-card img {
  max-width: 100%;
  border-radius: 4px;
}